




<div class="container-fluid">
  <div >
    <%= button_to 'ログアウト', destroy_login_user_session_path, method: :delete %>
      <% if login_user_signed_in? %>
        <%= button_to "マイページへ", login_user_path(current_login_user.id) %>
      <% end %><br>
        <small>Logged in as</small><br>
        <b><%= current_login_user.name %><br></b>
          <%= render 'form', book: Book.new %>
            <hr>
              <div class="box">
                <% @books.each do |book| %>
                  <div>
                    <div class="slide-img">
                      <%= image_tag book.image_url if book.image? %>
                      <div class="overlay">
                        <div class="description">
                          <%= link_to book do%>
                            <p><%= book.name %></p>
                            <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div> 
                <% end %>   
              </div>
                  

                  
            
      



    <div class=>
      <% if @book.present? %>
        <div class="chat-room">
          <p><%= @book.name %></p>
          <% @book.todo_lists.each do |todo_list| %>
              <p><%= todo_list.title %></p>
            <% end %>
          <div class="chat-box">
            <%= render 'todo_lists/form', todo_list: TodoList.new, book:@book %>
          </div>
        </div>
      <% end %>
    </div>
  
</div>





    

        
  