

<body id="page-top">
        <!-- Navigation-->
        <!-- Header-->
        <section class="masthead d-flex align-items-center">
            <div class="text text-center">
              <img class="img-fluid" src="assets/img/washing.jpg" alt="..." />
            </div>
        </section>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <br>
                        <h2>How to use:</h2>
                        <p class="lead mb-5">
                            Agatha Christie's books are all fun to read. However, they can be hard to follow with all the information. Especially for the people
                            who want to follow along and solve the mystery themselves, it is a necessary to have some sort of memos.
                            So, this site was created to make it easy to keep your meomes so you can focus on reading, rather than keeping trace of all of your memos.
                            There are even functions to help you see which memos are more important and functions that make it easier to see who is suspected more!
                        </p>
                    </div>
                </div>
            </div>
        </section>


<div class="container-fluid"id="library">
  <div >
        <small>Logged in as</small><br>
        
          <%= render 'form', book: Book.new %>
            <hr>
              <div class="box">
                <% @books.each do |book| %>
                  <div>
                    <div class="slide-img">
                    <%= link_to book do%>
                      <%= image_tag book.image_url if book.image? %>
                      <% end %>
                    </div>
                  </div> 
                <% end %>   
              </div>
                  

                  
            
      



    <div class=>
      <% if @book.present? %>
        <div class="chat-room">
          <p><%= @book.name %></p>
          <%= link_to '✕', @book, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <% @book.todo_lists.each do |todo_list| %>
              <p><%= todo_list.title %></p>
            <% end %>
          <div class="chat-box">
            <%= render 'todo_lists/form', todo_list: TodoList.new, book:@book %>
          </div>
        </div>
      <% end %>
    </div>
  
</div>