<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>


<body>
<div class="bg-hand" id="books">     
  <div class="row">
    <div class="col-9">       
      <div class="container-fluid"id="library">     
          <div class="pic-frame"> 
            <%= render 'form', book: Book.new %> 
          </div>
            <div>
              <hr>
              <div class="shelf">
                <% @books.each do |book| %>
                  <div>
                    <div class="slide-img">
                      <%= link_to book do%>
                        <%= image_tag book.image_url if book.image? %>
                      <% end %>
                    </div>
                  </div> 
                <% end %>   
              </div>
            </div>
        </div>
      </div>
        



<br>
<div class="col-3">
<div class="hands">
  <%=image_tag 'img/handstransparant.png'%>
</div>
    <div>
      <% if @book.present? %>
        <div class="chat-room">        
            <% @book.todo_lists.each do |todo_list| %>
              <li class="list-group-item">
              <%= link_to todo_list.title, todo_list %>
                  <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-light' do%>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                
              </li>
            <% end%>

        <div class="chat-box">
          <%= render 'todo_lists/form', todo_list: TodoList.new, book:@book %>
        </div>
      
      <% end %>
      </div>


    
    </div>

</div>
</div>
</div>
</div>

<script>
  $('#upload_costum').change(function(event){
    let twopath=URL.createObjectURL(event.target.files[0])
    $('.image > img').fadeIn('fast').attr('src,twopath')
    $('.delete_file').show():
    $('.choose_file').hiden():

    $('.delete_file').click(function(){
      $('.image > img').fadeIn('fast').attr('src',)
      $('.delete_file').hiden():

    })
  })
</script>

</body>