<!DOCTYPE html>
<html>
  <head>
    <title>Mystery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/2ec2a30cc1.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<body class='bg-light'> 
<nav>
  <ul>
    <li>
      <a href="#" class="logo">
        
        <span class="nav-item">Mystery Memo</span>
      </a>
    </li>
    <li><a href="#">
      <i class="fas fa-home"></i>
      <span class="nav-item">aaaaaaa</span>
    </a></li>
    
    <li><a href="/books">
      <i class='fas fa-book-open'></i>
      <span class="nav-item">aaaaaaa</span>
    </a></li>

    <li><a href="/messages">
      <i class="fas fa-comment"></i>
      <span class="nav-item">aaaaaaa</span>
    </a></li>

<li><div class="logoutsign"><%=link_to destroy_login_user_session_path, method: :delete, class: 'btn' do%> 
<i class='fas fa-sign-out-alt'></i>
<span class="nav-item">aaaaaaa</span>
<%end%>
</div></li>
          

  </ul>
</nav>



<div class="container">
  <div class="row">
    
      <p id="notice"><%= notice %></p>
      <div class="card">
        <%= yield %>
      </div>
    
  </div>
</div>

  </body>
</html>
